body{
	margin: 0px;
	padding: 0px;
}
.tong{
	width: 100%;
	height: 800px;
}
.dong1{
	background-color: #8d8777;
	width: 100%;
	height: 8%;
	float: left;
	display: flex;
}
.dong1 img{
	width: 60px;
	height: 20px;
	margin: 15px 0 0 20px;
}
.dong1 ul{
	padding: 0px;
	display: flex;
	list-style-type: none;
	margin: 10px 0 0 100px;
	background-color: white;
}
.dong1 ul li{
	cursor: pointer;
	text-transform: uppercase;
	border: 3px solid grey;
	color: red;
}
.dong1 li{
	padding: 10px;
	font-size: 20px;
}
.dong1 li:hover{
	background-color: #b02216;
	color: white;
}
.dong1 form{
	background-color: #b02216;
	margin-left: 320px;
	border-radius: 5px;
	width: 300px;
}
.dong1 input{
	margin: 20px 0 0 30px;
}
.dong1 button{
	color: blue;
	font-size: 15px;
	border-radius: 5px;
}
.dong2{
	background-color: white;
	width: 100%;
	height: 22%;
	float: left;
}
.dong2 img{
	width: 100%;
	height: 100%;
}
.dong3{
	background-color: white;
	width: 100%;
	height: 70%;
	float: left;
}
.trai{
	background-color: white;
	width: 20%;
	height: 100%;
	float: left;
}
.trai h3{
	background-color: #b5b5b5;
	border-right: 5px solid #656565;
	height: 30px;
}
.trai p{
	margin-top: -10px;
	height: 45px;
	background-color: #f5f5f5;
}
.phai{
	background-color: white;
	width: 80%;
	height: 100%;
	float: left;
}
.phai h3{
	padding: 5px;
	color: #c0d2d8;
	border-bottom: black 1px solid;
}
.cot1{
	width: 35%;
	height: 100%;
	float: left;
}
.cot2{
	width: 30%;
	height: 100%;
	float: left;
}
.cot3{
	width: 30%;
	height: 100%;
	float: left;
}
.main{
	padding-top: 10px;
	width: 95%;
	height: 200px;
}
.main img{
	width: 100%;
	height: 115px;
}
.main a{
	text-decoration: none;
	font-size: 25px;
	color: white;
	padding-left: 10px;
}
.main p{
	font-weight: 600;
	padding-left: 10px;
}